streamlit
pandas
numpy

scikit-learn
xgboost
joblib

pdfplumber
PyMuPDF
PyPDF2
python-docx

easyocr
Pillow

plotly

requests

mysql-connector-python

groq

python-dotenv

fastapi
uvicorn

streamlit-option-menu
